$font1: eaves;
$font2: bodoni;
$brightLeaf: #8DBD5B;
$darkLeaf: #729051;
$lightLeaf: #CBD391;
$break1: 750px;
$break2: 1275px;
$break3: 605px;


.registry-body {
  text-align: center;
  font-family: eaves;
  margin-left: 5%;
  margin-right: 5%;
  @media screen and (min-width: $break1) {
    letter-spacing: .1em;
    margin-left: 7%;
    margin-right: 7%;
  }
}

.title {
  font-size: 3.5em;
  line-height: .7em;
  font-weight: 250;

  @media screen and (min-width: $break1) {
    font-size: 4.1em;
    letter-spacing: .1em;
  }

  @media screen and (min-width: $break2) {
    font-size: 5em;
    letter-spacing: .1em;
  }
}

.title-two {
  font-size: 1.75em;
  line-height: 1em;
  // font-weight: 300;

  @media screen and (min-width: $break2) {
    font-size: 2.1em;
    letter-spacing: .1em;
  }

  @media screen and (min-width: $break2) {
    font-size: 2.5em;
    letter-spacing: .1em;
  }
}

.title-three {
  font-size: 2.7em;
  font-weight: 300;

  @media screen and (min-width: $break2) {
    font-size: 2.8em;
    letter-spacing: .1em;
  }
}

.portland-links {
  text-align: center;
  font-family: eaves;
}

.btn-submit {
  font-size: 1em;
  background-color: $brightLeaf;
}

.btn-portland {
  font-size: 1em;
  background-color: $darkLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}

.btn-registry {
  font-size: 1em;
  background-color: $lightLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}

// MQ Spacers

.break-spacer {
  display: none;
  @media screen and (min-width: $break3) {
    display: unset;
  }
}
