<div class="registry-body">

  <div class="break-spacer">
    <br><br><br>
  </div>
  <p class="title">
    Thank you for considering a gift through our registry!
  </p>
  <br>
  <p class="title-two">
    Please know that the most valuble gift you could give us is your presence at our wedding. If you feel inclined to give us a gift, what would be most helpful is contributing to our honeymoon. We have set up a registry through Honeyfund.com, please follow this link if you wish to donate and thank you very much!
  </p>
  <p class="title-three">
    <a href="https://www.honeyfund.com/wedding/brendanandsamantha">Honeyfund.com</a>
  </p>
</div>

<br><br>
<div class="portland-links">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button (click)="goToRsvp()" class="btn btn-lg btn-registry" type="submit" name="portland-links">R S V P</button>
    </div>
    <div class="col-md-4">
      <button (click)="goToPortland()" class="btn btn-lg btn-portland" type="submit" name="portland-links">Portland Activities</button>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br><br>

</div>
