<div class="registry-body">

  <div class="break-spacer">
    <br><br>
  </div>
  <p class="title">
    Thank you for considering our registry!
  </p>
  <br>
  <p class="title-two">

    Please know that the most valuable gift you could give us is your presence at our wedding. We are lucky enough to have a beautiful home full of things we love and with this in mind, we have set up a honeymoon fund in lieu of a traditional registry. Please follow the link below to contribute and see the details of the trip we have planned. Thank you so much and we look forward to celebrating with you!

  </p>
  <p class="title-three">
    <a target="_blank" href="https://www.honeyfund.com">Honeyfund.com</a>
  </p>
</div>

<br>
<div class="break-spacer">
  <br><br>
</div>
<div class="portland-links">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button (click)="goToRsvp()" class="btn btn-lg btn-registry" type="submit" name="portland-links">R S V P</button>
    </div>
    <div class="col-md-4">
      <button (click)="goToPortland()" class="btn btn-lg btn-portland" type="submit" name="portland-links">Portland Activities</button>
    </div>
    <div class="col-md-2"></div>
  </div>



</div>
