<div class="received-body">
  <br><br>
  <p class="title">
    Thank you very much!
  </p>
  <br>
  <div class="break-spacer">
    <br><br>
  </div>
  <p class="title-two">
    If you would like to read more about our favorite places in Portland or learn about our registry, follow the links below.
  </p>
</div>

<div class="received-links">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button (click)="goToPortland()" class="btn btn-lg btn-portland" type="submit" name="portland-links">Portland Activities</button>
    </div>
    <div class="col-md-4">
      <button (click)="goToRegistry()" class="btn btn-lg btn-registry" type="submit" name="portland-links">Registry Information</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
