.bottom-holly {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

// .bottom-holly:hover {
//   background-color: black;
// }

.top-holly {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.content-buffer {
  padding: 10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 92vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  overflow-y: scroll;
  // border: 1px solid black;
}

.relpos {
  position: relative;
}
