<br><br>
<p class="title"><u>Guests So Far</u></p>
<div class="main">
  <!-- <a href="http://samanthaandbrendan.com">Back to R S V P</a> -->
</div>
<br>
<div class="table-border">
  <table class="table admin-body">
    <thead>
      <tr>
        <th class="admin-body">Guest</th>
        <th class="admin-body">Message</th>
        <th class="admin-body">Attending</th>
        <th class="admin-body">Adults</th>
        <th class="admin-body">Children</th>
      </tr>
    </thead>
    <tr *ngFor="let response of responses | async">
      <td>{{response.guestName}}</td>
      <td>{{response.message}}</td>
      <td>{{response.attending}}</td>
      <td>{{response.adults}}</td>
      <td>{{response.children}}</td>
    </tr>
  </table>
</div>
<br>
<div class="center">
  <button (click)="goToHome()" class="btn btn-lg btn-home" type="submit" name="home">Home</button>
</div>
