<div class="portland-body">
  <p class="title">
    Portland Activities
  </p>
  <br>
  <p class="title-three">
    Portland has an abundance of bars, restaurants, music venues and parks and they're almost all filled with great beer, dogs and a touch of passive aggression. In case you find yourself with a some spare time, here are a few of our favorite ways to spend money
  </p>

  <br>

  <p class="title-two">
    <u>Restaurants</u>
  </p>
  <p class="info-one">
    Portland has a slew of great food. Here are some of our favorite spots!
    <br>
  </p>
  <p class="info-two">
    Roscio's - San Diego style mexican food<br>
    Laurelhurst - Market Butcher shop/restaurant<br>
    Tarad - Authentic northern thai food<br>
    Lúc Lác - Vietnamese fusion<br>
    Güero - Tortas!<br>
    East Glisan Pizza - The best pizza in town<br>
    Sizzle Pie - Bar/pizzaria with heavy metal themed pizzas
  </p>

  <br>

  <p class="title-two">
    <u>Bars</u>
  </p>
  <p class="info-one">
    OLCC law requires bars to serve hot food if they serve liquor and most spots rise to the occasion with gusto
    <br>
  </p>
  <p class="info-two">
    Bye & Bye and Sweet Hereafter - 100% vegan sister bars with fantastic food<br>
    Moon & Sixpence - English pub with decent food & dart boards<br>
    Ground Control - Classic arcade with full bar and snacks<br>
    Secret Society - Small, beautiful bar with classic coctails<br>
    Hale Pele - Tiki bar<br>
    The Alibi - Tiki bar WITH karaoke<br>
    Blank Slate - Friendly folks and fancy drinks
  </p>

  <br>

  <p class="title-two">
    <u>Venues</u>
  </p>
  <p class="info-one">
    Portland is known for having a thriving music scene. The kids these dayds start their shows way too late but I hear these venues have hip happenings
    <br>
  </p>
  <p class="info-two">
    Mississippi Studios - they host a little of everything and thanks to the acoustics almost everyone that plays here sounds great<br>
    The Know - Punk and metal bar with well curated shows<br>
    Holocene - Mostly left field electronic dance nights witht the occasional weekday concert<br>
    Doug Fir - Another great sounding room, the Doug Fir is a staple of the Portland music scene<br>
  </p>

  <br>

  <p class="title-two">
    <u>Parks</u>
  </p>
  <p class="info-one">
    There are actually things to do here that don't involve drinking...
    <br>
  </p>
  <p class="info-two">
    Forest Park - A sprawling park in northwest Portland<br>
    Mt Tabor Park - A pretty spot on an extinct volcano with decent views of the city<br>
    Laurelhurst Park - There's a duck pond and they allow dogs!<br>
  </p>

  <br>

  <p class="title-two">
    <u>Slightly Out Of Town Adventures</u>
  </p>
  <br>
  <p class="info-two">
    Columbia River Gorge - No one is sure what Portland's surrouding rural areas will look like once the dust (and ash) settles after this year's fires but in my opinion there is nothing more representative of the beauty of the Pacific Northwest than the Gorge. Drive east for about 20 minutes, then take the Historic Columbia River Highway to the Vista House, Bridal Veil and Multnomah Falls. It is 100% worth the effort.
  </p>
  <br>
  <p class="info-two">
    The Coast - I don't know how long you're planning to stay in town but if you want to take a day trip to the coast, I recommend the drive on Highway 30 to Astoria. It's on the estuary of the Columbia River and it's just lovely. There might be prettier spots on the Oregon Coast but Astoria just feels right. Plus Brendan's favorite brewery Buoy is made here!
  </p>
  <br>
  <p class="info-two">
    Wine Tasting - Wine tasting is anotehr fantastic excuse for a day trip. You could take the 99W southwest to Dundee (make sure to stop at Argyle) or head east towards Hood River.
  </p>
</div>

<br><br>
<div class="portland-links">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button (click)="goToRsvp()" class="btn btn-lg btn-portland" type="submit" name="portland-links">R S V P </button>
    </div>
    <div class="col-md-4">
      <button (click)="goToRegistry()" class="btn btn-lg btn-registry" type="submit" name="portland-links">Registry Information</button>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br><br>

</div>
