$font1: eaves;
$font2: bodoni;
$berry: #E7AFB5;
$darkLeaf: #729051;
$lightLeaf: #CBD391;
$break1: 750px;
$break1: 750px;
$break2: 1275px;
$break3: 605px;


.portland-body {
  text-align: center;
  font-family: eaves;
  margin-left: 7%;
  margin-right: 7%;
  @media screen and (min-width: $break1) {
    letter-spacing: .1em;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.title {
  font-size: 3.5em;
  line-height: .7em;
  font-weight: 250;

  @media screen and (min-width: $break1) {
    font-size: 4.1em;
    letter-spacing: .1em;
  }
}



.title-two {
  font-size: 2em;
  font-weight: 300;

  @media screen and (min-width: $break1) {
    font-size: 3em;
    letter-spacing: .1em;
  }
}

.title-three {
  font-size: 2em;
  line-height: .7em;
  font-weight: 250;

  @media screen and (min-width: $break1) {
    font-size: 3em;
    letter-spacing: .1em;
  }
}

.info-one {
  font-size: 1.5em;
  line-height: 1em;
  font-family: bodoni;

  @media screen and (min-width: $break1) {
    font-size: 1.8em;
  }
}

.info-two {
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: .05em;
  text-align: left;
  @media screen and (min-width: $break1) {
    font-size: 2em;
    letter-spacing: .1em;
  }
}

.portland-links {
  text-align: center;
  font-family: eaves;
}

.btn-submit {
  font-size: 1em;
  background-color: $berry;
}

.btn-portland {
  font-size: 1em;
  background-color: $darkLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}

.btn-registry {
  font-size: 1em;
  background-color: $lightLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}

// MQ Spacers and Replacers

.break-spacer {
  display: none;
  @media screen and (min-width: $break1) {
    display: unset;
  }
}

.break-spacer-two {
  display: none;
  @media screen and (min-width: $break2) {
    display: unset;
  }
}
