$font1: eaves;
$font2: bodoni;


.home-body {
  text-align: center;
  font-family: eaves;
}

.home-rsvp {
  @extend .home-body;
}

.title {
  font-size: 3em;
  line-height: .7em;
}

.title-two {
  font-size: 1.5em;
}
