<div class="home-body">
  <div class="title title-with-breaks">
    <p>Brendan</p>
    <p>&</p>
    <p>Samantha</p>
  </div>
  <div class="title title-no-breaks">
    <p>Brendan & Samantha</p>
  </div>
  <div class="title-three">
    <p>
      are getting married!
    </p>
  </div>
  <div class="info-one">
    <p>December 2nd 2017</p>
    <p>Festivities begin at 5PM</p>
    <p>The Village Ballroom</p>
    <p>704 NE Dekum St</p>
  </div>
</div>

<br><br><br><br>
<div class="break-spacer">
  <br><br>
</div>
<div class="break-spacer-two">
  <br><br><br><br><br>
</div>

<div class="home-rsvp">
  <div class="title">
    <p>R S V P</p>
  </div>
  <div class="title-two">
    <p>by November 1st 2017</p>
  </div>
  <div class="info-one">

    <form>
      <div class="form-group">
        <label>name</label>
        <div class="nameInput">
          <input #guestName type="text" class="form-control">
        </div>
      </div>

      <template ngFor let-radioResponse [ngForOf]="radioResponse">
        <label>
          <input
            type="radio"
            name="response-group"
            [checked]="( radioValue === radioResponse )"
            (change)="radioValue = radioResponse;"
          />
          {{ radioResponse.name }}
        </label>
        <br>
      </template>

      <div class="form-group">
        <label>Number of Guests Attending</label>
        <br>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <label for="adults">adults</label>
            <br>
            <input #adults class="attending" type="number" name="adults" value=1>
          </div>
          <div class="col-md-3">
            <label for="children">children</label>
            <br>
            <input #children class="attending" type="number" name="children" value=0>
          </div>
          <div class="col-md-3"></div>
        </div>

      </div>
      <button (click)="sendRsvp(guestName.value,adults.value,children.value)" class="btn btn-lg btn-submit" type="submit" name="rsvp">R S V P</button>
    </form>
    <br>
  </div>
</div>

<div class="home-links">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button (click)="goToPortland()" class="btn btn-lg btn-portland" type="submit" name="portland-links">Portland Activities</button>
    </div>
    <div class="col-md-4">
      <button (click)="goToRegistry()" class="btn btn-lg btn-registry" type="submit" name="portland-links">Registry Information</button>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br><br>

</div>
