$font1: eaves;
$font2: bodoni;
$brightLeaf: #8DBD5B;
$darkLeaf: #729051;
$lightLeaf: #CBD391;
$break1: 750px;
$break2: 1275px;


.home-body {
  text-align: center;
  font-family: eaves;
}

.home-rsvp {
  @extend .home-body;
}

.home-links {
  @extend .home-body;
}

.title {
  font-size: 4em;
  line-height: .7em;
  font-weight: 250;

  @media screen and (min-width: $break1) {
    font-size: 6em;
    letter-spacing: .1em;
  }
}

.title-two {
  font-size: 2em;
  font-weight: 300;

  @media screen and (min-width: $break1) {
    font-size: 3em;
    letter-spacing: .1em;
  }
}

.title-three {
  font-size: 2.5em;
  font-weight: 300;

  @media screen and (min-width: $break1) {
    font-size: 4.5em;
    letter-spacing: .1em;
  }
}

.info-one {
  font-size: 1.7em;

  @media screen and (min-width: $break1) {
    font-size: 2.2em;
    letter-spacing: .1em;
  }
}

.attending {
  max-width: 40px;
  border-radius: 5px;
}

.nameInput {
  max-width: 300px;
  border-radius: 5px;
  margin: auto;
}

.message-text {
  font-size: .7em;
  border-radius: 5px;
}

.btn-submit {
  font-size: 1em;
  background-color: $brightLeaf;
}

.btn-portland {
  font-size: 1em;
  background-color: $darkLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}

.btn-registry {
  font-size: 1em;
  background-color: $lightLeaf;
  margin: 5px;
  @media screen and (min-width: $break1){
    font-size: 2em;
  }
}


// MQ Spacers and Replacers

.break-spacer {
  display: none;
  @media screen and (min-width: $break1) {
    display: unset;
  }
}

.break-spacer-two {
  display: none;
  @media screen and (min-width: $break2) {
    display: unset;
  }
}

.title-no-breaks {
  display: none;
  @media screen and (min-width: $break2) {
    display: unset;
  }
}

.title-with-breaks {
  @media screen and (min-width: $break2) {
    display: none;
  }
}
